<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shamsaha">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShamsahaApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".volunteer.view.DashboardVolunteerActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".victim.auth.MobileNumberOTPVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".victim.auth.MobileNumberAuthActivity"
            android:exported="true" />
        <activity
            android:name=".volunteer.DashboardVol"
            android:exported="true" />

        <receiver
            android:name=".retrofit.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <service
            android:name=".retrofit.LocationService"
            android:enabled="true"
            android:stopWithTask="false" />
        <service
            android:name=".retrofit.YourService"
            android:stopWithTask="false" />

        <activity
            android:name=".util.WebviewActivity"
            android:exported="true" />
        <activity
            android:name=".util.NewSplashActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".victim.DashboardVictimActivity"
            android:exported="true" />
    </application>

</manifest>